<nav class="navbar navbar-style navbar-expand-lg navbar-dark bg-dark d-flex justify-content-around">
  <div>
    <a class="navbar-brand"
    routerLink="/home">Temp Name</a>
  </div>

  <div>
    <form class="form-inline"
      #searchForm="ngForm"
      (ngSubmit)="onSubmitSearch(searchForm)">
      <input type="search"
        class="form-control"
        id="navSearch"
        placeholder="Search"
        aria-label="Search"
        name="searchTerm"
        ngModel>
      <button type="submit"
        class="btn btn-outline-light nav-search-button"
        id="navSearchBtn"><i class="fas fa-search"></i></button>
    </form>
  </div>

  <div>
    <button type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapseMenu"
      aria-controls="navbarCollapseMenu"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse text-right"
      id="navbarCollapseMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"
          routerLinkActive="active">
          <a class="nav-link"
            routerLink="/home">Home</a>
        </li>
        <li *ngIf="!this.expiredToken()"
          class="nav-item"
          routerLinkActive="active">
          <a class="nav-link pointer"
            (click)="onLoadProfile()">My Profile</a>
        </li>
        <li *ngIf="this.expiredToken()"
          class="nav-item"
          routerLinkActive="active">
          <a class="nav-link"
            routerLink="/create-account">Create Account</a>
        </li>
        <li *ngIf="!this.expiredToken()"
          class="nav-item">
          <a class="nav-link"
          (click)="onLogoutClick()"
          routerLink="/home">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
