/* =============== */
/* || Searchbar || */
/* =============== */

.nav-control {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-search-form {
  display: flex;
  flex: 2 1 100%;
  padding: 0 15px;
  margin-bottom: 10px;
}

@media screen and (min-width: 531px) {
  .nav-search-form {
    margin-bottom: 0;
    flex-basis: auto;
  }
}

/* ================= */
/* || Nav Buttons || */
/* ================= */

.nav-btn {
  margin-right: 15px;
}

.nav-btn:last-of-type {
  margin-right: 0px;
}

#navSearchInput {
  border-radius: 5px 0 0 5px;
}

@media screen and (min-width: 531px) {
  .nav-btn:last-of-type {
    margin-right: 15px;
  }
}
