<nav class="navbar navbar-style navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"
    routerLink="/home">Temp Name</a>
  <button type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarCollapseMenu"
    aria-controls="navbarCollapseMenu"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse text-right"
    id="navbarCollapseMenu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"
        routerLinkActive="active">
        <a class="nav-link"
          (click)="test()"
          routerLink="/home">Home</a>
      </li>
      <li class="navbar-item"
        routerLinkActive="active">
        <a class="nav-link"
          routerLink="/profile">My Profile</a>
      </li>
      <li class="nav-item"
        routerLinkActive="active">
        <a class="nav-link"
          routerLink="/create-account">Create Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        (click)="onLogoutClick()"
        routerLink="/home">Logout</a>
      </li>
    </ul>
  </div>
</nav>
