.navbar-style {
  background-color: #e0e0e0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

#navSearch {
  width: 70vw;
  border-radius: 5px 0 0 5px;
}

#navSearchBtn {
  border-radius: 0 5px 5px 0;
}

@media only screen and (min-width: 540px) {
  #navSearch {
    width: 50vw;
  }
}

@media only screen and (min-width: 992px) {
  #navSearch {
    width: 30vw;
  }
}
