<div class="container nav-section">
  <div class="row">
    <div class="col main-view">
      <div class="main-content-container">
        <div class="container nav-control">
          <form #navSearchForm="ngForm"
            class="nav-search-form"
            (ngSubmit)="onSubmitSearch(navSearchForm)">
            <input type="search"
              class="form-control text-area-style"
              id="navSearchInput"
              placeholder="Search by Username"
              aria-label="Search"
              name="searchTerm"
              ngModel>
    
            <button type="submit"
              class="btn btn-outline-light search-btn btn-style"><i class="fas fa-search"></i></button>
          </form>

          <div *ngIf="!!currentUser.username; else notLoggedIn"
            class="logged-control">
            <button type="button"
              class="btn btn-outline-light btn-style nav-btn"
              (click)="onGoHome()">
              <i class="fas fa-home"></i> Home
            </button>
  
            <button type="button"
              class="btn btn-outline-light btn-style nav-btn"
              (click)="onLogout()">
              <i class="fas fa-door-open"></i> Logout
            </button>
          </div>

          <ng-template #notLoggedIn>

          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
