<div class="container container-style">
  <form class="form-style"
    #createAccountForm="ngForm"
    (ngSubmit)="onRegisterSubmit(createAccountForm)">

    <h4>Create an Account</h4>

    <div class="form-group col-sm-12">
      <label for="registerEmail">Email:&nbsp;
        <span class="error-msg create-err-msg"
          id="emailError">Please enter a vaild email address</span>
      </label>
      

      <input type="email"
        class="form-control text-area-style"
        id="registerEmail"
        name="email"
        ngModel>
    </div>

    <div class="form-group col-sm-12">
      <label for="registerUsername">Username:&nbsp;
        <span class="error-msg create-err-msg"
          id="usernameError">Please enter a unique username</span>
      </label>

      <input type="text"
        class="form-control text-area-style"
        id="registerUsername"
        name="username"
        ngModel>
    </div>

    <div class="form-group col-sm-12">
      <label for="registerName">Name:&nbsp;
        <span class="error-msg create-err-msg"
          id="nameError">Please enter a name</span>
      </label>

      <input type="text"
        class="form-control text-area-style"
        id="registerName"
        name="name"
        ngModel>
    </div>

    <div class="form-group col-sm-12">
      <label for="registerPassword">Password:&nbsp;
        <span class="error-msg create-err-msg"
          id="passwordError">Please enter a password</span>
      </label>

      <input type="password"
        class="form-control text-area-style"
        id="registerPassword"
        name="password"
        ngModel>
    </div>

    <div>
      <p class="submit-msg"
        id="successMsg">New user registered!</p>

      <p class="submit-msg"
        id="failureMsg">Failed to register user.<br>Please try again later.</p>
    </div>

    <div class="btn-container-holder">
      <div class="col-sm-12 col-md-8 form-btn-container">
        <button type="submit"
          class="btn btn-outline-light btn-style form-btn-style">Submit</button>

        <button type="button"
          class="btn btn-outline-light btn-style form-btn-style"
          routerLink="/home">Cancel</button>
      </div>
    </div>
  </form>
</div>
