<div class="container">
  <form class="form-style"
    #createAcountForm="ngForm">
    <h4>Create an Account</h4>
    <div class="form-group col-sm-12 create-form-style">
      <label for="inputUsername">Username:</label>
      <input type="text"
        class="form-control"
        id="inputUsername"
        name="inputUsername"
        ngModel>
    </div>
    <div class="form-group col-sm-12 col-md-6 create-form-style">
      <label for="inputFirst">First Name:</label>
      <input type="text"
        class="form-control"
        id="inputFirst"
        name="inputFirst"
        ngModel>
    </div>
    <div class="form-group col-sm-12 col-md-6 create-form-style">
      <label for="inputLast">Last Name:</label>
      <input type="text"
        class="form-control"
        id="inputLast"
        name="inputLast"
        ngModel>
    </div>
    <div class="form-group col-sm-12 create-form-style">
      <label for="inputPassword">Password:</label>
      <input type="password"
        class="form-control"
        id="inputPassword"
        name="inputPassword"
        ngModel>
    </div>
    <div class="form-group col-sm-12 create-form-style">
      <label for="inputConfirmPassword">Confirm Password:</label>
      <input type="password"
        class="form-control"
        id="inputConfirmPassword"
        name="inputConfirmPassword"
        ngModel>
    </div>
    <div class="col-sm-12 col-md-4 form-btn-container">
      <button type="submit"
        class="btn btn-dark form-btn-style">Submit</button>
    </div>
  </form>
</div>

<!-- delete below -->
<div class="container">
  {{ createAcountForm.value | json }}
</div>
