.container-style {
  background-color: var(--color-background-dark);
  padding: 0;
  height: 100vh;
}

@media screen and (min-width: 576px) {
  .container-style {
    height: auto;
    margin-top: 15vh;
    border-radius: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container-style {
    max-width: 720px;
  }
}

@media screen and (max-height: 642px) {
  .container-style {
    height: auto;
  }
}

/* ================== */
/* || Form Styling || */
/* ================== */

.form-style {
  margin: 0;
  padding: 7%;
}

@media screen and (min-width: 341px) {
  .form-style {
    padding: 7% 10%;
  }
}

/* ==================== */
/* || Submit Message || */
/* ==================== */

#successMsg {
  color: var(--success);
  background-color: var(--success-background);
  display: none;
}

#failureMsg {
  color: var(--failure);
  background-color: var(--failure-background);
  display: none;
}

@media screen and (min-width: 768px) {
  .submit-msg {
    width: 250px;
    margin: 0 auto 5px;
  }
}

/* =================== */
/* || Error Message || */
/* =================== */

.create-err-msg {
  visibility: hidden;
  display: block;
}

@media screen and (min-width: 433px) {
  .create-err-msg {
    display: inline;
  }
}
