.container-style {
  background-color: var(--color-background-dark);
  padding: 10px 0;
  margin-top: 100px;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .container-style {
    max-width: 720px;
  }
}

/* ================== */
/* || Form Styling || */
/* ================== */

.form-style {
  margin: 5%;
}

@media screen and (min-width: 341px) {
  .form-style {
    margin: 5% 10%;
  }
}

/* ==================== */
/* || Submit Message || */
/* ==================== */

.submit-msg {
  text-align: center;
  padding: 10px 15px;
  margin: 0 15px 5px;
  border-radius: 5px;
  display: none;
}

#successMsg {
  color: var(--success);
  background-color: var(--success-background);
}

#failureMsg {
  color: var(--failure);
  background-color: var(--failure-background);
}

@media screen and (min-width: 768px) {
  .submit-msg {
    width: 250px;
    margin: 0 auto 5px;
  }
}

/* =================== */
/* || Error Message || */
/* =================== */

.create-err-msg {
  visibility: hidden;
  display: block;
}

@media screen and (min-width: 433px) {
  .create-err-msg {
    display: inline;
  }
}
