/* ==================== */
/* || Action Control || */
/* ==================== */

.icon-size {
  font-size: 1.5em;
}

.opinion {
  display: inline-block;
}

.opinion-count {
  margin: 0 .25em;
}

.post-controler {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* =========== */
/* || Modal || */
/* =========== */

.modal-center {
  text-align: center;
}

.modal-text {
  margin-bottom: 16px;
}

.modal-btn {
  width: 30%;
  color: var(--color-text-light);
}
