<div>
  <div *ngIf="posts.length; else noContent">
    <div class="main-content"
      *ngFor="let post of posts">
      <div class="container content-box-main">
        <h4 class="post-user">{{ profileData.name }} </h4>
        <p class="post-user">@{{ profileData.username }}</p>
        <p class="timestamp">{{ post.timestamp }}</p>
        <p class="post-content">{{ post.content }}</p>
      </div>
      
      <div class="container">
        <div class="row justify-content-end">
          <div>
            <button *ngIf="personalProfile()"
              type="button"
              class="btn opinion"
              (click)="markForDeletion(post)"
              data-toggle="modal"
              data-target="#deleteConfirmation">
              <i class="far fa-trash-alt icon-size white-font"></i>
              <!-- consider setting up a modal for confirmation of deletion -->
            </button>
            <button type="button"
              class="btn opinion"
              (click)="onOpinionVoiced(post, 1)">
              <i *ngIf="checkForOpinion(post, 1); else likeNotSelected"
                class="fas fa-arrow-alt-circle-up icon-size white-font"></i>
              <ng-template #likeNotSelected>
                <i class="far fa-arrow-alt-circle-up icon-size white-font"></i>
              </ng-template>
            </button>
            <p class="opinion opinion-count">{{ post.likes }}</p>
            <button type="button"
              class="btn opinion"
              (click)="onOpinionVoiced(post, -1)">
              <i *ngIf="checkForOpinion(post, -1); else dislikeNotSelected"
                class="fas fa-arrow-alt-circle-down icon-size white-font"></i>
              <ng-template #dislikeNotSelected>
                <i class="far fa-arrow-alt-circle-down icon-size white-font"></i>
              </ng-template>
            </button>
            <p class="opinion opinion-count">{{ post.dislikes }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #noContent>
    <p class="main-content">No Posts Found</p>
  </ng-template>

  <div class="modal fade"
    id="deleteConfirmation"
    tabindex="-1"
    aria-labelledby="deleteConfirmationLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col modal-center">
                <p class="modal-text">Are you sure you want to delete this post?</p>
              </div>
            </div>
            <div class="row d-flex justify-content-around">
              <button type="button"
                class="btn btn-secondary modal-btn"
                (click)="deletePost()">Yes</button>
              <button type="button"
                class="btn btn-secondary modal-btn"
                (click)="clearDeleteRequest()">No</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
