.timestamp {
  margin: 0;
  font-size: .9em;
}

.post-user {
  display: inline;
}

.modal-text {
  font-size: 20px;
  color: black;
}

.modal-center {
  text-align: center;
}

.modal-btn {
  width: 30%;
}

/* .post-content {
  padding: 0 .6em;
} */

.icon-size {
  font-size: 1.5em;
}

.opinion-count {
  margin: 0 .25em;
}

.opinion {
  display: inline-block;
}
