.profile-details-main {
  padding-top: 15px;
}

.profile-segment {
  display: inline-block;
  width: auto;
}

.profile-hero-content {
  padding-top: 30px;
}

.profile-names {
  margin: 0;
}

.profile-follower-info {
  display: inline;
}

#followErrorMsg {
  color: red;
  margin: 0;
}

.profile-image-container {
  width: 150px;
}
