<div class="container">
  <div class="row profile-segment">
    <div class="col-4 profile-image-container">
      <file-pond #myPond
        [files]="pondFile"
        [options]="pondOptions"
        (onaddfile)="pondHandleAddFile($event)">
      </file-pond>
    </div>

    <div class="col">
      <h2 class="profile-inline">{{ profileData.name }}</h2>
      <p class="profile-inline"
        id="profile-username">@{{ profileData.username }}</p>
    </div>
  </div>

  <div class="row profile-segment">
    <div class="col">
      <p class="visible"
        id="followErrorMsg">{{ followErrorMsg }}</p>
    </div>
  </div>

  <div class="row profile-segment">
    <div class="col">
      <p class="profile-inline">{{ profileData.followerCount }} Followers</p>

      <div *ngIf="isFollowing; else notFollowing"
        class="profile-inline">
        <button type="button"
          class="btn profile-options-btn white-font btn-bounce"
          (click)="onUnfollow()">
          <i class="fas fa-heart white-font"></i></button>
      </div>

      <ng-template #notFollowing>
        <button type="button"
          class="btn profile-options-btn white-font btn-bounce"
          [files]="pondFile"
          (click)="onFollow()">
          <i class="far fa-heart white-font"></i></button>
      </ng-template>
    </div>
  </div>
</div>
