<div class="container">
  <div class="row profile-details-main">
    <div class="col-sm-auto profile-image-container">
      <file-pond #myPond
        [files]="pondFile"
        [options]="pondOptions"
        (onaddfile)="pondHandleAddFile($event)">
      </file-pond>
    </div>

    <div class="col profile-hero-content">
      <div class="row">
        <h2 class="profile-names">{{ profileData.name }}</h2>
      </div>
      <div class="row">
        <p class="profile-names">@{{ profileData.username }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p class="visible"
        id="followErrorMsg">{{ followErrorMsg }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p class="profile-follower-info">{{ profileData.followerCount }} Followers</p>

      <div *ngIf="isFollowing; else notFollowing">
        <button type="button"
          class="btn profile-options-btn white-font btn-bounce"
          (click)="onUnfollow()">
          <i class="fas fa-heart white-font"></i></button>
      </div>

      <ng-template #notFollowing>
        <button type="button"
          class="btn profile-options-btn white-font btn-bounce"
          [files]="pondFile"
          (click)="onFollow()">
          <i class="far fa-heart white-font"></i></button>
      </ng-template>
    </div>
  </div>
</div>
