/* ============ */
/* || Images || */
/* ============ */

.pond-image-control {
  display: none;
  padding: 0;
}

.pond-image-container {
  width: 200px;
  padding: 0;
  margin: auto;
}

.image-container {
  align-items: flex-end;
  padding-bottom: 100px;
}

.banner-container {
  padding: 0;
}

.banner {
  width: auto;
  height: 100%;
  padding: 0;
  object-fit: cover;
}

.profile-image-container {
  position: absolute;
  left: calc(50% - 100px);
}

.profile-image {
  height: 200px;
  border: 5px solid var(--color-background-darker);
  position: relative;
  top: 100px;
  margin: 0;
}

@media only screen and (min-width: 576px) {
  .pond-image-container {
    margin: 0;
    left: 5%;
  }

  .profile-image-container {
    left: 5%;
  }
}

/* ==================== */
/* || Error Handling || */
/* ==================== */

.error-msg-container {
  margin: auto;
  justify-content: center;
  text-align: center;
}

#followErrorMsg {
  display: none;
  margin: 0;
  padding-top: 10px;
}

@media only screen and (min-width: 576px) {
  .error-msg-container {
    justify-content: flex-start;
    text-align: left;
  }
}

/* ========================== */
/* || Profile Main Details || */
/* ========================== */

.profile-hero-detail {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 15px;
}

.profile-names {
  margin: 0;
}

.profile-hero-element {
  padding: 0 10px;
}

@media only screen and (min-width: 576px) {
  .profile-hero-detail {
    justify-content: flex-start;
  }
}

/* =================== */
/* || Edit Controls || */
/* =================== */

.edit-options-container {
  padding: 0;
  margin-top: 10px;
}

.edit-options-control:hover {
  cursor: pointer;
}

.edit-options {
  display: inline-block;
  margin: 0;
}

.edit-options-icon {
  margin-right: 3px;
}

.resolveEdit {
  display: none;
}

.resolveEdit:nth-of-type(3) {
  margin-left: 10px;
}

/* =================== */
/* || Follower Info || */
/* =================== */

.follow-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-follower-info {
  margin: 0;
}

@media only screen and (min-width: 576px) {
  .follow-container {
    justify-content: flex-start;
  }
}
