<div *ngIf="!!profileData.followerCount; else noFollowers">
  <div *ngFor="let user of profileData.followers"
    class="main-content pointer"
    (click)="changeProfileData(user.username)">
    <div class="container content-box-main">
      <div class="row profile-preview-group">
        <div class="profile-preview-image-container">
          <img class="profile-image follower-profile-image"
            src="{{ user.profileImage }}"
            alt="Profile Image">
        </div>
  
        <div class="profile-preview-hero-details">
          <h4 class="profile-preview-details">{{ user.name }}</h4>

          <p class="profile-preview-details">@{{ user.username }}</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="end-of-content">
    <div *ngIf="profileData.followerCount !== followerList.length"
      class="loading" appObserverVisibility>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
    </div>
  </div>
</div>

<ng-template #noFollowers>
  <div class="main-content">
    <div class="container content-box-main">
      <h5>You currently have 0 followers</h5>
    </div>
  </div>
</ng-template>
