/* =============== */
/* || Container || */
/* =============== */

.dump-screen-container {
  padding: 0;
}

.dump-msg-container {
  max-width: 720px;
  margin: auto;
  justify-content: center;
}

@media screen and (min-height: 800px) {
  .dump-screen-container {
    margin-top: 10vh;
  }
}

@media screen and (min-height: 1000px) {
  .dump-screen-container {
    margin-top: 15vh;
  }
}

/* =========== */
/* || Image || */
/* =========== */

.err-img-container {
  text-align: center;
  margin-bottom: 25px;
}

.err-img {
  width: 100%;
  max-width: 720px;
}

/* ============= */
/* || Message || */
/* ============= */

.dump-msg {
  text-align: center;
  padding: 0 15px;
}
