<div class="main-content-container">
  <div *ngIf='profileFound; else profileNotFound'>
    <div class="container" *ngIf="profileData">
      <app-profile-details></app-profile-details>
      <app-profile-content></app-profile-content>
    </div>
  
    <div class="modal fade"
      id="postModal"
      tabindex="-1"
      aria-labelledby="postModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <app-create-post></app-create-post>
          </div>
        </div>
      </div>
    </div>
  
    <div id="postList">
      <app-display-post></app-display-post>
    </div>
    <div class="visible"
      id="followingList">
      <p>Following List</p>
    </div>
    <div class="visible"
      id="followerList">
      <p>Follower List</p>
    </div>
    <div class="visible"
      id="mentionsList">
      <p>Mentions List</p>
    </div>
  </div>
  
  <ng-template #profileNotFound>
    <h3>No profile data found</h3>
  </ng-template>
</div>
  
