<div class="row">
  <div class="col side-form-content-container">
    <form #sideSearchForm="ngForm"
      class="side-form"
      (ngSubmit)="onSubmitSearch(sideSearchForm)">
      <input type="search"
        class="form-control text-area-style"
        id="sideSearchInput"
        placeholder="Search for User"
        aria-label="Search"
        name="searchTerm"
        ngModel>
        
      <button type="submit"
        class="btn btn-outline-light search-btn btn-style"><i class="fas fa-search"></i></button>
    </form>
  </div>
</div>
