<div class="container">
  <div *ngIf="personalProfile()" class="row">
    <button type="button"
      class="btn profile-options-btn col white-font"
      data-toggle="modal"
      data-target="#postModal">New Post</button>

    <button type="button"
      class="btn profile-options-btn col white-font active-tab"
      id="postTab"
      (click)="onMakeActive('postList', 'postTab')">My Posts</button>

    <button type="button"
      class="btn profile-options-btn col white-font"
      id="followingTab"
      (click)="onMakeActive('followingList', 'followingTab')">Follwing</button>

    <button type="button"
      class="btn profile-options-btn col white-font"
      id="followerTab"
      (click)="onMakeActive('followerList', 'followerTab')">Followers</button>
      
    <button type="button"
      class="btn profile-options-btn col white-font"
      id="mentionsTab"
      (click)="onMakeActive('mentionsList', 'mentionsTab')">Mentions</button>
  </div>
</div>
