<div class="row">
  <div class="container side-content-segment">
    <div class="row">
      <div class="col side-nav">
        <button type="button"
          class="btn btn-outline-light btn-style side-btn-style"
          (click)="onLoadProfile()"><i class="fas fa-home"></i> Home</button>
      </div>

      <div class="col side-nav">
        <button type="button"
          class="btn btn-outline-light btn-style side-btn-style"
          (click)="onLogout()"><i class="fas fa-door-open"></i> Logout</button>
      </div>
    </div>
  </div>
</div>
