/* ================== */
/* || Form Styling || */
/* ================== */

.form-style-box {
  display: inline-block;
}

.form-btn-container {
  margin: 0 auto;
  display: inline-block;
}

.form-btn-style {
  width: 100%;
}

.form-style {
  margin: 5% 10%;
}

/* ============ */
/* || Button || */
/* ============ */

.btn-container-holder {
  text-align: center;
}

.btn-bounce:hover {
  position: relative;
  animation: bounce .5s;
}

@keyframes bounce {
  0% { top: 0px }
  20% { top: -5px }
  85% { top: 1px }
  100% { top: 0px }
}

.btn-bounce-reverse:hover {
  position: relative;
  animation: bounce-reverse .5s;
}

@keyframes bounce-reverse {
  0% { top: 0px }
  20% { top: 5px }
  85% { top: -1px }
  100% { top: 0px }
}

/* =========== */
/* || Links || */
/* =========== */

.clear-link, .clear-link:hover {
  text-decoration: none;
  color: white;
}

/* ================== */
/* || main-content || */
/* ================== */

.main-content {
  border-top: solid;
  border-width: 1px;
  padding: 1% 2%;
}

.content-box-main {
  padding-top: 1em;
}

.main-content-container {
  border-left: solid;
  border-right: solid;
  border-width: 1px;
}

/* =========== */
/* || Other || */
/* =========== */

.align-right {
  text-align: right;
}

.visible {
  display: none;
}

textarea {
  resize: none;
}

body {
  background-color: #41626F;
  color: white;
}

.white-font {
  color: white;
}

@media only screen and (min-width: 540px) {
  /* .main-content {
    margin: 0 20%;
  } */

  .main-content-container {
    margin: 0 30%;
  }
}
