.form-style-box {
  display: inline-block;
}

.btn-container-holder {
  text-align: center;
}

.form-btn-container {
  margin: 0 auto;
  display: inline-block;
}

.form-btn-style {
  width: 100%;
}

.form-style {
  margin: 5% 10%;
}

.clear-link, .clear-link:hover {
  text-decoration: none;
  color: white;
}

.main-content {
  border-top: solid;
  border-width: 1px;
  padding: 1% 2%;
}

.content-box-main {
  padding-top: 1em;
}

.main-content-container {
  border-left: solid;
  border-right: solid;
  border-width: 1px;
}

.align-right {
  text-align: right;
}

.visible {
  display: none;
}

textarea {
  resize: none;
}

body {
  background-color: #41626F;
  color: white;
}

.white-font {
  color: white;
}

@media only screen and (min-width: 540px) {
  /* .main-content {
    margin: 0 20%;
  } */

  .main-content-container {
    margin: 0 30%;
  }
}
