/* ================== */
/* || Form Styling || */
/* ================== */

.form-style-box {
  display: inline-block;
}

.form-btn-container {
  margin: 0 auto;
  display: inline-block;
}

.form-btn-style {
  width: 100%;
}

.form-style {
  margin: 5% 10%;
}

/* ============ */
/* || Button || */
/* ============ */

.btn-container-holder {
  text-align: center;
}

.btn-bounce:hover {
  position: relative;
  animation: bounce .4s;
}

@keyframes bounce {
  0% { top: 0px }
  3% { top: 0px }
  10% { top: -2px }
  25% { top: -5px }
  95% { top: 1px }
  100% { top: 0px }
}

.btn-bounce-reverse:hover {
  position: relative;
  animation: bounce-reverse .4s;
}

@keyframes bounce-reverse {
  0% { top: 0px }
  3% { top: 0px }
  10% { top: 2px }
  25% { top: 5px }
  95% { top: -1px }
  100% { top: 0px }
}

/* =========== */
/* || Links || */
/* =========== */

.clear-link, .clear-link:hover {
  text-decoration: none;
  color: white;
}

/* ================== */
/* || main-content || */
/* ================== */

.main-content {
  border-top: solid;
  border-width: 1px;
  padding: 1% 2%;
}

.content-box-main {
  padding-top: 1em;
}

.main-content-container {
  border-left: solid;
  border-right: solid;
  border-width: 1px;
}

.end-of-content {
  border-top: solid;
  border-width: 1px;
  text-align: center;
}

/* ============= */
/* || Loading || */
/* ============= */

.loading {
  padding-top: 30px;
}

.ball {
  background-color: white;
  border-radius: 50%;
  margin: 7px;
  height: 10px;
  width: 10px;
  display: inline-block;
  position: relative;
  animation: loading .7s ease-in-out infinite;
}

.ball:nth-of-type(2) {
  animation-delay: .1s;
}

.ball:nth-of-type(3) {
  animation-delay: .2s;
}

@keyframes loading {
  0%, 100% { top: 0px }
  50% { top: -10px }
}

/* =========== */
/* || Other || */
/* =========== */

.align-right {
  text-align: right;
}

.visible {
  display: none;
}

.pointer {
  cursor: pointer;
}

textarea {
  resize: none;
}

body {
  background-color: #41626F;
  color: white;
}

.white-font {
  color: white;
}

@media only screen and (min-width: 540px) {
  /* .main-content {
    margin: 0 20%;
  } */

  .main-content-container {
    margin: 0 30%;
  }
}
