<div class="main-content-container">
  <div *ngIf="searchResults.length; else no_results">
    <div *ngFor="let result of searchResults"
      class="main-content pointer"
      (click)="changeProfileData(result.username)">
      <div class="container content-box-main">
        <h4>@{{ result.username }}</h4>
        <p>{{ result.name }}</p>
      </div>
    </div>
  
    <div class="end-of-content">
      <div *ngIf="!endOfResults"
        class="loading" appSearchDirective>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
      </div>
    </div>
  </div>
  
  <ng-template #no_results>
    <div class="main-content">
      <h5>No results found matching: "{{ searchTerm }}"</h5>
    </div>
  </ng-template>
</div>
