<div class="main-content-container" appSearchMutation>
  <div *ngIf="searchResults.length; else no_results">
    <div *ngFor="let result of searchResults"
      class="main-content pointer"
      (click)="changeProfileData(result.username)">
      <div class="container content-box-main">
        <div class="row">
          <div class="col-sm-auto search-profile-image-container">
            <img class="profile-image search-profile-image"
              [attr.data-src]="result.profileImage"
              [attr.data-type]="result.profileImageType"
              alt="Profile Image">
          </div>

          <div class="col profile-preview-hero-details">
            <div class="row">
              <h4 class="profile-preview-details">{{ result.name }}</h4>
            </div>

            <div class="row">
              <p class="profile-preview-details">@{{ result.username }}</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col profile-preview-additional-info">
            <div class="row">
              <p class="profile-preview-details">{{ result.followerCount }} Followers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="end-of-content">
      <div *ngIf="!endOfResults"
        class="loading" appSearchDirective>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
      </div>
    </div>
  </div>
  
  <ng-template #no_results>
    <div class="main-content">
      <div class="container content-box-main">
        <h5>No results found matching: "{{ searchTerm }}"</h5>
      </div>
    </div>
  </ng-template>
</div>
