<div class="home-main">
  <div class="hero-home-logo">
    <img class="logo" src="../../assets/logo_light_v2.svg">
    
    <h1 class="logo-title">Socials</h1>
  </div>

  <div class="log-in-section">
    <div class="container home-container">
      <form *ngIf="this.expiredToken()"
        class="form-style"
        #loginForm="ngForm"
        (ngSubmit)="onLoginSubmit(loginForm)">
        <h4>Login</h4>
    
        <div class="form-group col-sm-12">
          <label for="loginUsername">Username:</label>
          <input type="text"
            class="form-control text-area-style"
            id="loginUsername"
            name="username"
            ngModel>
        </div>
    
        <div class="form-group col-sm-12">
          <label for="loginPassword">Password:</label>
          <input type="password"
            class="form-control text-area-style"
            id="loginPassword"
            name="password"
            ngModel>
        </div>

        <div id="homeFailureMsgContainer">
          <p class="submit-msg" id="homeFailureMsg">Username and password do not match</p>
        </div>
    
        <div class="btn-container-holder">
          <div class="form-btn-container">
            <button type="submit"
              class="btn btn-outline-light btn-style form-btn-style">Sign In</button>
          
            <button type="button"
              class="btn btn-outline-light btn-style form-btn-style"
              routerLink="/create-account">New User</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
