/* =================== */
/* || Error Message || */
/* =================== */

#homeFailureMsgContainer {
  display: none;
}

#homeFailureMsg {
  color: var(--failure);
  background-color: var(--failure-background);
}

/* =================== */
/* || Splash Screen || */
/* =================== */

@media screen and (min-width: 992px) {
  .home-main {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    background-color: red;
  }
}

/* ================= */
/* || Log In Form || */
/* ================= */

.form-btn-container {
  width: 70%;
}

@media screen and (min-width: 992px) {

  .log-in-section {
    padding-top: 25vh;
    width: 50%;
    height: 100vh;
    background-color: var(--color-background-darker);
  }
}
