<div *ngIf="!!profileData.followingCount; else notFollowing" appFollowingMutation>
  <div *ngFor="let user of profileData.following"
    class="main-content pointer"
    (click)="changeProfileData(user.username)">
    <div class="container content-box-main">
      <div class="row">
        <div class="col-sm-auto profile-preview-container">
          <img class="profile-image following-profile-image"
            [attr.data-src]="user.profileImage"
            [attr.data-type]="user.profileImageType"
            alt="Profile Image">
        </div>
  
        <div class="col profile-preview-hero-details">
          <div class="row">
            <h4 class="profile-preview-details">{{ user.name }}</h4>
          </div>

          <div class="row">
            <p class="profile-preview-details">@{{ user.username }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="end-of-content">
    <div *ngIf="profileData.followingCount !== followingList.length"
      class="loading" appObserverVisibility>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
    </div>
  </div>
</div>

<ng-template #notFollowing>
  <div class="main-content">
    <div class="container content-box-main">
      <h5>You are not following anyone</h5>
    </div>
  </div>
</ng-template>
