<div *ngIf="!!profileData.followingCount; else notFollowing">
  <div *ngFor="let user of profileData.following"
    class="main-content pointer"
    (click)="changeProfileData(user.username)">
    <div class="container content-box-main">
      <h4>@{{ user.username }}</h4>
      <p>{{ user.name }}</p>
    </div>
  </div>
  
  <div class="end-of-content">
    <div *ngIf="profileData.followingCount !== followingList.length"
      class="loading" appObserverVisibility>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
    </div>
  </div>
</div>

<ng-template #notFollowing>
  <div class="main-content">
    <div class="container content-box-main">
      <h5>You are not following anyone</h5>
    </div>
  </div>
</ng-template>
